.pt-comment-wrap {
    width: 100%;
    padding:20px;

    .pt-emerge-area {
        position: relative;
    }

    .pt-cmt-area {
        position: relative;
        .photo-comments {
            padding-top: 30px;
            margin: 0 auto;
        }
        .pt-emerge-title {
            text-align: center;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            margin: 0 auto 30px;
            z-index: 0;
        }
        .pt-emerge-title>span {
            background: #fff;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                border-top: solid 1px #9b9b9b;
                z-index: -1;
            }
        }
    }

    .ppc-comment-list>li {
        margin-bottom: 15px;
        min-height: 25px;
        display: inline-block;
        width: 100%;
    }
    .photo-comment>.pt-cmt-content {
        position: relative;
    }
    .photo-comment>.pt-cmt-content>img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size:cover;
    }
    .photo-comment>.pt-cmt-content>.pt-cmt-text {
        font-size: 14px;
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 15px;
        margin-left: 60px;
        white-space: pre-wrap;
    }
    .photo-comment>.pt-cmt-content>.pt-cmt-text:before {
        content: ' ';
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f4f4f4 transparent transparent;
        position: absolute;
        left: 50px;
        top: calc(50% - 10px);
        white-space: nowrap;
    }
    .paragraph-content {
        margin: 0;
        margin-bottom: 0.5em;
        white-space: pre-line;
        word-wrap: break-word;
    }
    .photo-comment .pt-cmt-info {
        font-size: 10px;
        margin-top: 5px;
        padding-left: 40px;
        color: #afafb2;
    }
    .photo-comment .pt-cmt-info .pt-cmter-name {
        font-weight: 700;
        margin-right: 5px;
        color: #424242;
    }
    .photo-comment .pt-cmt-info .pt-cmt-meta {
        display: inline-block;
        margin-left: 5px;
    }
    .photo-comment .pt-cmt-info .pt-cmt-time {
        float: right;
    }
    .pt-cmt-meta .actions {
        margin-top: 0;
        color: #afafb2;
    }
}

.ppc-comment .block-ip-comment .comment-box {
    position: relative;
    padding-left: 60px;
}
.ppc-comment .block-ip-comment .comment-box .profile-card {
    position: absolute;
    top: 0;
    left: 0;
}
.profile-card .pc-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
}
.profile-card .pc-image>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-card .pc-content {
    width: calc(100% - 56px);
    padding-left: 28px;
}
.block-ip-comment .comment-box .super-textbox {
    position: relative;
}
.ppc-comment .block-ip-comment .comment-box .super-textbox:before {
    left: -9px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-width: 5px;
}
.pt-comment-wrap .ppc-comment .block-ip-comment .comment-box .super-textbox>textarea {
    font-size: 14px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
}
.super-textbox .note-guild {
    font-size: 12px;
    color: #afafb2;
}
.ppc-comment .block-ip-comment .comment-box .super-textbox:after {
    left: -8px;
    border-color: transparent #f4f4f4 transparent transparent;
    border-width: 5px;
}
.ppc-comment .block-ip-comment .comment-box .super-textbox:after, .ppc-comment .block-ip-comment .comment-box .super-textbox:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    width: 0;
    height: 0;
    border-style: solid;
}
.ppc-comment .block-ip-comment .comment-box .super-textbox>textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
    border: 1px solid #e4e4e4;
    outline: none;
    &:focus{
        outline: none !important;
    }
}

.ppc-comment .avatar, .ppc-activity-list .avatar, .ppc-comment-list .avatar, .us-if-content .avatar, .manager-card .avatar {
    border-radius: 50%;
}
.ppc-activity-list .avatar, .ppc-comment-list .avatar {
    width: 50px !important;
    height: 50px !important;
    vertical-align: middle;
    display: inline-block;
}
