body {
    background-color: #e9ebee;
    color: #1d2129;
    font-size: 15px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    max-width: 1000px;
}
//@media (min-width: 1024px) {
//    .container {
//        max-width: 1000px;
//    }
//}
//@media (min-width: 1280px) {
//    .container {
//        max-width: 1280px;
//    }
//}
#app{
    min-height: 100%;
    position: relative;
}
form{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li:last-child {
        border: none;
    }
}

a.button-default {
    background: #f6f7f9;
    color: #1d2129;
    border: 1px solid #ced0d4;
    outline: none;
    font-size: 12px;
    &:hover {
        background-color: #dddfe2;
    }
}


.news {
    flex: 1 1 auto;
    padding: 1rem;
}
.pc{
    display: block;
}
.sp{
    display: none;
}
.text-white {
    color: #ffffff !important;
}
.text-black {
    color: #000000;
}
.text-truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg-white {
    background: #ffffff;
}
select,textarea,input,button{
    border: 1px solid #D6DEE3;
    background: #ffffff;
}
.input-group{
    position: relative;
    .input-plus{
        position: absolute;
        right: 0;
        background: #0573DB;
        border: 1px solid #D6DEE3;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        text-align: center;
        line-height: 29px;
        outline: none;
        cursor: pointer;
        i{
            border: solid white;
            border-width: 0 2px 2px 0;
            margin-top: 7px;
        }
    }
}
.input-text{
    height: 30px;
    border: 1px solid #D6DEE3;
}
select.select {
    width: 100%;
    height: 35px;
}
.label-danger{
    background: #DA4A52;
    display: inline-block;
    padding: 0 5px;
    color: #ffffff;
}
ul,
ol {
    padding: 0;
    margin: 0;
}
.full-width{
    width: 100%;
}
.block,.show{
    display: block;
}

.hide{
    display: none;
}
.inline{
    display: inline;
}
.haft-width{
    width: 50%;
}
.text-bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-primary{
    color: $color-primary;
}
.btn-flat{
    border-radius: 0;
}
.btn-xs{
    padding: 3px 15px;
    font-size: 12px;
}
.btn-sm{
    padding: 5px 20px;
}
.btn-md{
    padding: 7px 30px;
}
.btn-lg{
    padding: 10px 50px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fs10 {
    font-size: 10px;
}
.fs11 {
    font-size: 11px;
}
.fs12 {
    font-size: 12px;
}
.fs13 {
    font-size: 13px;
}
.fs14 {
    font-size: 14px;
}
.fs15 {
    font-size: 15px;
}
.fs16 {
    font-size: 16px;
}
.fs17 {
    font-size: 17px;
}
.fs18 {
    font-size: 18px;
}
.fs19 {
    font-size: 19px;
}
.fs20 {
    font-size: 20px;
}
.fs21 {
    font-size: 21px;
}
.fs22 {
    font-size: 22px;
}
.fs23 {
    font-size: 23px;
}
.fs24 {
    font-size: 24px;
}
.fs25 {
    font-size: 25px;
}
.fs26 {
    font-size: 26px;
}
.fs27 {
    font-size: 27px;
}
.fs28 {
    font-size: 28px;
}
.fs29 {
    font-size: 29px;
}
.fs30 {
    font-size: 30px;
}
.fs31 {
    font-size: 31px;
}
.fs32 {
    font-size: 32px;
}

.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-25 {
    margin: 25px;
}
.m-30 {
    margin: 30px;
}
.m-35 {
    margin: 35px;
}
.m-40 {
    margin: 40px;
}

.ml-0 {
    margin-left: 0;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-35 {
    margin-left: 35px;
}
.ml-40 {
    margin-left: 40px;
}

.mr-0 {
    margin-right: 0;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-35 {
    margin-right: 35px;
}
.mr-40 {
    margin-right: 40px;
}

.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}

.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}
.p-35 {
    padding: 35px;
}
.p-40 {
    padding: 40px;
}

.pl-0 {
    padding-left: 0;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-25 {
    padding-left: 25px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-35 {
    padding-left: 35px;
}
.pl-40 {
    padding-left: 40px;
}

.pr-0 {
    padding-right: 0;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-25 {
    padding-right: 25px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-35 {
    padding-right: 35px;
}
.pr-40 {
    padding-right: 40px;
}

.pt-0 {
    padding-top: 0;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-40 {
    padding-top: 40px;
}

.pb-0 {
    padding-bottom: 0;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
