/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .pc{
        display: none;
    }
    .sp{
        display: none;
    }
    .list-blog{
        .blog-title{
            margin-top: 10px !important;
        }
    }
    .sidebar-right{
        margin-top: 20px !important;
        padding: 0 !important;
    }

    .text-title{
        margin-top:10px !important;
    }

    .blog-related{
        min-height: 200px;
    }
    .navbar-nav{
        padding-top:20px;
        li{
            padding:10px 0;
        }
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .pc{
        display: none;
    }
    .sp{
        display: none;
    }
    .list-blog{
        .blog-title{
            margin-top: 10px !important;
        }
    }
    .sidebar-right{
        margin-top: 20px !important;
        padding: 0 !important;
    }
    .text-title{
        margin-top:10px !important;
    }

    .text-title{
        margin-top:10px !important;
    }

    .blog-related{
        img{
            min-height: 200px;
        }
    }
    .navbar-nav{
        padding-top:20px;
        li{
            padding:10px 0;
        }
    }

}
