.header {
    height: 90px;
    background: $color-primary;
}

a {
    color: $color-primary;
}

.nav-category {
    background: #ffffff;
    overflow: hidden;
    padding: 5px 0;

    li {
        a {
            float: left;
            display: inline-block;
            padding: 4px 15px;
            border-right: 1px solid #ccc !important;
            color: $link-default-color;
        }

        &:last-child {
            a {
                border-right: none !important;
            }
        }
    }
}

.form-regis {
    input, select, textarea, button {
        margin-bottom: 5px;
    }

}

.card {
    .title-card {
        font-size: 28px;
        line-height: 28px;
        font-family: Georgia, Times, "Times New Roman", serif;
    }

    .card-body {
        padding: 15px !important;
    }
}

.text-primary {
    color: $color-primary !important;
}

.btn-primary {
    background: $color-primary;
}

.news-relate-more {
    list-style-type: circle !important;
}

.menu-foot-1 {
    font-weight: bold;
    color: $color-primary;
    padding-bottom: 5px;
    border-bottom: 4px solid #f99d27;
    margin-bottom: 10px;

}

.form-control {
    font-size: 14px !important;
}

.menu-foot-2 {
    font-weight: bold;
    color: $color-primary;
    padding-bottom: 5px;
    border-bottom: 4px solid $color-primary;
    margin-bottom: 10px;
}

.menu-foot-3 {
    font-weight: bold;
    color: $color-primary;
    padding-bottom: 5px;
    border-bottom: 4px solid #44bad2;
    margin-bottom: 10px;
}

.footer-menu {
    a {
        color: $link-default-color !important;
    }
}

.content-detail {
    font-size: 14px;

    h2 {
        font-size: 20px !important
    }

    img {
        width: 100% !important;
        height: 100%;
    }
    table{
        width: 100% !important;
    }
    ol,ul{
        margin-left:15px;
    }
}

.info-sidebar {

}

.text-orange {
    color: #ef9b22;
}

.location-listing {
    position: relative;

    .avatar-label {
        position: absolute;
        top: 10px;
        left: 10px;

        input {
            font-size: 22px;
        }
    }
}

.bg-main {
    background: $color-primary;
}

.list-blog {
    overflow: hidden;
    &:last-child{
        border: none;
    }
    .list-blog-item {
        padding: 10px 0;
        overflow: hidden;

        a {
            color: #333333;
            text-decoration: none;
        }

        .blog-avatar img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            border-radius: 5px;
        }
    }

    .blog-avatar {
        width: 36%;
        height: 150px;
        margin-right: 10px;
        overflow: hidden;
        float: left;
    }

    .blog-description {
        margin-left: 255px;

        .blog-title {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .blog-more .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 100%;
        background-color: var(--color-light-2);
        border: 1px solid var(--color-light-1);
        float: left;
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $color-primary !important;

        }

        &.active {
            .page-link {
                background: $color-primary !important;
                border-color: $color-primary !important;
                color: #fff !important;
            }
        }
    }
}

#navbar-top {
    position: fixed !important;
    z-index: 9 !important;
}

.navbar-toggler, .navbar-toggler-right {
    color: #212529 !important;
    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
}

.carousel-inner {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.navbar-nav {
    li {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        a {
            padding:0 !important;
            color: #333333;
            display: block;

            &:hover {
                text-decoration: none;

                &:after {
                    transform: scaleX(1);
                }
            }

        }

        &:hover, &.active {
            &:after {
                transform: scaleX(1);
                display: block;
            }
        }

        &:after {
            display: block;
            transform: scaleX(0);
            transform-origin: left;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(.25, .46, .45, .94);
            width: 100%;
            height: 3px;
            content: '';
            margin-top:5px;
            background-color: #deba29;
        }
    }
}
#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: $color-primary;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}
