.newsfeed-item {
    background: #ffffff;
    overflow: hidden;
    display: block;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
    border-radius: 5px;

    .item-header {
        padding: 10px;
        overflow: hidden;

        .avatar {
            margin-right: 9px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        .content-header {
            margin-left: 50px;
            margin-right: 15px;
        }
    }

    .item-body {
        .item-content {
            overflow: hidden;

            .content-body {
                position: relative;
                overflow: hidden;
                display: block;
                padding: 10px;
            }
        }

        .content-description {
            margin-top: 10px;
            line-height: 20px;
        }
    }

    .item-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: right;

        .arrow-box-action {
            position: relative;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
            padding: 5px 0;
            display: none;
            text-align: left;
        }

        &:hover {
            .arrow-box-action {
                display: block;
            }
        }

        ul.action-item-popover li {
            &:hover {
                background: #4267b2;

                a {
                    color: #fff;
                }
            }

            padding: 4px 9px;

            a {
                display: block;
                text-decoration: none;
                color: #1d2129;
            }
        }
    }
    .ul-tags {
        padding: 0 5px 10px 5px;
        a {
            margin-top: 10px;
            border: 1px solid #ced0d4;
            padding: 2px 5px;
            color: #5c808c !important;
            text-decoration: none;
            border-left: 3px solid #ced0d4;
            border-radius: 4px;
            display: inline-block;
            background: #f6f7f9;
        }
    }

   .item-info {
        overflow: hidden;
        padding: 4px 9px;
    }
    .item-footer {
        height: 40px;
        border-top: 1px solid #dee2e6;
        .info-option {
            padding: 5px;
        }
    }
}

.imgs_grid {
    margin-bottom: 10px;
}

.imgs_grid .img {
    float: left;
    width: 20%;
}

.imgs_grid {
    overflow: hidden;
    cursor: pointer;
}

.imgs_grid img {
    width: 100% !important;
    padding: 0 5px 0 0;
    text-align: center;
}

.imgs_grid .end {
    position: relative;
}

.imgs_grid .end .other {
    position: absolute;
    width: 100%;
    height: 99%;
    font-size: 40px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    line-height: 120px;
}

.grid_1 .big {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid_detail_5 .big .small .end {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
}

.grid_detail_6 .big .small .end {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.imgs_gird {
    overflow: hidden;
    cursor: pointer;
}

.imgs_gird img {
    width: 100% !important;
}

.imgs_gird .end {
    position: relative;
}

.imgs_gird .end .other {
    position: absolute;
    width: 100%;
    height: 99%;
    font-size: 40px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    line-height: 120px;
}

.grid_1 .big {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid_2 {
    height: 400px;
}

.grid_2 .big {
    float: left;
    width: 50%;
    height: 100%;
}

.grid_2 .big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid_2 .item_1 {
    float: left;
    width: 50%;
    height: 100%;
}

.grid_2 .item_1 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-left: 1px;
}

.grid_3 {
    height: 400px;
}

.grid_3 .big {
    width: 70%;
    float: left;
    height: 100%;
    padding-right: 1px;
}

.grid_3 .big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-bottom: 1px;
}

.grid_3 .small {
    width: 30%;
    height: 50%;
    float: left;
}

.grid_3 .small img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-bottom: 1px;
}

.grid_4 {
    height: 400px;
}

.grid_4 .big {
    height: 99%;
    width: 67%;
    float: left;
}

.grid_4 .big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-bottom: 1px;
}

.grid_4 .small {
    width: 33%;
    height: 33%;
    float: left;
    padding-left: 1px;
    padding-bottom: 1px;
}

.grid_4 .small img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid_5 {
    height: 400px;
}

.grid_5 .big {
    width: 66%;
    float: left;
    height: 50%;
}

.grid_5 .big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 1px;
}

.grid_5 .small {
    width: 33%;
    height: 50%;
    float: left;
}

.grid_5 .small img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 1px;
}

.grid_6 {
    height: 400px;
}

.grid_6 .big {
    width: 66%;
    height: 68%;
    float: left;
}

.grid_6 .big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-bottom: 1px;
    padding-left: 1px;
}

.grid_6 .small {
    width: 33%;
    height: 34%;
    float: left;
    padding-left: 1px;
    padding-bottom: 1px;
}

.grid_6 .small img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
