@media only screen and (min-width: 1000px){
    .sidebar-menu {
        position: fixed;
        display: block;
    }
}

#navbar-top {
    position: fixed;
    z-index: 9;
    height: auto;
    background: #fff;
    margin-bottom: 0;
    top: 0;
    width: 100%;
    padding: 4px 12px !important;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-menu {
    //display: none;
    line-height: 20px !important;
    width: 200px;
    a{
        color: #333333;
        text-decoration: none;
        font-size: 18px !important;
        font-family: "Nunito", sans-serif;
        &:hover {
            background-color: transparent;
            color:rgba(29,161,242,1.00);
        }
        font-weight:bold;

        .sb-menu-item {
            display: block;
            padding:15px 0;
            position: relative;
            border: 1px solid transparent;
            cursor: pointer;
            &.active {
                color:rgba(29,161,242,1.00);
            }
            .item-image {
                float: left;
                width: 25px;
                text-align: center;
                margin-right: 10px;
            }
        }
    }


}
