<template>
    <div class="pt-comment-wrap">
        <div class="pt-cmt-area">
            <div class="photo-comments">
                <div class="pt-emerge-title"><span> {{this.totalComment}} bình luận</span></div>
                <div>
                    <div class="ppc-btn-load-more"></div>
                    <ul class="list ppc-comment-list">
                        <li class="" v-for="item in items">
                            <div class="photo-comment">
                                <div class="pt-cmt-content">
                                    <img :src="item.creator.avatar" class="img avatar" style="background-size: cover;">
                                    <div class="pt-cmt-text">
                                        <p class="paragraph-content">{{item.content}}</p>
                                    </div>
                                </div>
                                <div class="pt-cmt-info">
                                    <a class="pt-cmter-name" target="_blank" :href="item.creator.link">{{item.creator.full_name}}</a>
                                    <!--                                    <span>@coca.macaron</span>-->
                                    <div class="pt-cmt-meta">
                                        <ul class="actions">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="pt-cmt-time">{{item.created_at}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <infinite-loading spinner="spiral" direction="bottom" @infinite="infiniteHandler">
                        <div slot="no-more" class="p-2">Không còn bình luận nào :)</div>
                        <div slot="no-results p-2">Không có bình luận nào</div>
                        <div slot="error" slot-scope="{ trigger }">
                            Error message, click <a href="javascript:void(0);" @click="trigger">here</a> to retry
                        </div>
                    </infinite-loading>
                </div>
                <div class="ppc-comment mt-2">
                    <div class="block-ip-comment">
                        <div class="comment-box">
                            <div class="profile-card ">
                                <a class="pc-image" title="Cong NH" href="#"><img
                                    src="https://graph.facebook.com/100000323313503/picture?width=80&amp;height=80"
                                    class="img" alt="Cong NH trên LOZI.vn" title="Cong NH"
                                    style="background-size: cover;"></a>
                                <div class="pc-content"></div>
                            </div>
                            <div class="super-textbox ">
                                <textarea
                                    v-on:keyup="submitComment"
                                    placeholder="Bạn muốn bình luận gì ... ?"
                                    class="super-textarea"
                                    style="height: 52px;"></textarea>
                                <div class="checkbox-change-owner"></div>
                                <span class="note-guild">Giữ nút Shift và nhấn Enter để xuống dòng</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseRequest from "../../BaseRequest";

    export default {
        props: {
            apiListComments: String,
        },
        data() {
            return {
                page: 1,
                totalComment: 0,
                items: [],
            };
        },
        methods: {
            submitComment(element) {
                let elementTarget = element.target;
                if (element.which == 13 && !element.shiftKey) {
                    axios.get(this)
                }

                elementTarget.style.height = "5px";
                elementTarget.style.height = (elementTarget.scrollHeight) + "px";
            },
            infiniteHandler($state) {
                axios.get(this.apiListComments, {
                    params: {
                        page: this.page,
                    },
                }).then(({data}) => {
                    this.totalComment = data.meta.total;
                    if (data.data.length) {
                        this.page += 1;
                        //this.items.unshift(...data.data.reverse());
                        this.items.push(...data.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },
        },
    };

</script>
