<template>
    <ul class="list-blog">
        <li class="list-blog-item" v-for="item in items">
            <div class="blog-avatar">
                <a :href="item.link">
                    <img :src="item.avatar" class="">
                </a>
            </div>
            <div class="blog-description">
                <a :href="item.link" :title="item.name">
                    <h4 class="blog-title m-0">{{item.name}}</h4>
                </a>
                <p class="blog-text mb-1">
                    {{item.description}}
                </p>
                <span class="blog-more">
                    <img src="" class="avatar">
                    <a href="" class="text-bold"></a>
                    <span class="text-grey fs13"> -  {{item.views}} lượt xem</span>
                </span>
            </div>
        </li>
        <infinite-loading spinner="spiral" direction="bottom" @infinite="infiniteHandler">
            <div slot="no-more" class="p-2">Không còn thông báo nào :)</div>
            <div slot="no-results p-2">Không có thông báo nào</div>
            <div slot="error" slot-scope="{ trigger }">
                Error message, click <a href="javascript:;" @click="trigger">here</a> to retry
            </div>
        </infinite-loading>
    </ul>
</template>

<script>
    export default {
        props: {
            routeListBlog: String,
        },
        data() {
            return {
                page: 1,
                items: [],
            };
        },
        methods: {
            infiniteHandler($state) {
                axios.get(this.routeListBlog, {
                    params: {
                        page: this.page,
                    },
                }).then(({data}) => {
                    if (data.data.length) {
                        this.page += 1;
                        //this.items.unshift(...data.data.reverse());
                        this.items.push(...data.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },
        },
    };

</script>
