<template>
    <div class="box-card">
        <div class="box-card-header">
            <span class="fs14"> Thông báo ({{this.totalNotificationUnread}}) </span>
            <a href="#" title="Cài đặt" class="pull-right text-primary"><i class="fa fa-cog"></i> Cài đặt</a>
            <a href="javascript:void(0)" title="Đánh dấu tất cả là đã đọc" class="pull-right text-primary mr-2"
               v-on:click="markNotificationAsRead(this)">
                <i class="fa fa-check"></i> Đánh dấu tất cả là đã đọc</a>
        </div>
        <div class="box-card-body" id="notfication-list">
            <div class="notification-item" v-for="item in items">
                <a :href="item.data.data.link" title="" class="notify-item" v-bind:data-id="item.id" v-on:click="markAsRead"
                   :class="item.read_at == null ? 'unread' : null" v-bind:id="'noti'+item.id">
                    <div class="avatar pull-left">
                        <img :src="item.data.user.avatar" class="noti-avatar"/>
                    </div>
                    <div class="mt-2">
                        <strong>{{item.data.user.name}}</strong>
                        <span class="fs12"></span> <span>{{item.data.data.action}}</span>
                        <strong>{{item.data.data.message}}</strong><br/>
                        <i class="fa fa-clock"></i>
                        <span class="fs12 text-grey">{{item.created_at}}</span>
                    </div>
                </a>
                <span class="btn-read" title="Đánh dấu đã đọc" v-bind:data-id="item.id"
                      v-on:click="markAsRead"><i class="fa fa-dot-circle"></i>
                </span>
            </div>
            <infinite-loading spinner="spiral" direction="bottom" @infinite="infiniteHandler">
                <div slot="no-more" class="p-2">Không còn thông báo nào :)</div>
                <div slot="no-results p-2">Không có thông báo nào</div>
                <div slot="error" slot-scope="{ trigger }">
                    Error message, click <a href="javascript:;" @click="trigger">here</a> to retry
                </div>
            </infinite-loading>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            routeMarkAsRead: String,
            routeGetNotifications: String,
            routeMarkAsReadAll: String,
            totalNotificationUnread: String,
        },
        data() {
            return {
                page: 1,
                items: [],
            };
        },
        methods: {
            markNotificationAsRead: function (event) {
                let total_unread = this.totalNotificationUnread;
                if (total_unread !== '0') {
                    if ($.get(this.routeMarkAsReadAll)) {
                        $.notify({message: 'Đã đánh dấu đọc tất cả'});
                        $('.notify-item').removeClass('unread');
                    } else {
                        $.notify({message: 'Có lỗi xảy ra'}, {type: 'danger'})
                    }
                }
            },
            markAsRead: function (event) {
                let element = event.currentTarget;
                let id = element.getAttribute('data-id');
                axios.get(this.routeMarkAsRead, {
                    params: {
                        id: id
                    },
                }).then(({data}) => {
                    if (data.success) {
                        $('#noti' + id).removeClass('unread');
                        this.totalNotificationUnread = data.totalNotificationUnread;
                        //$.notify({message: data.message}, {type: 'success'})
                    } else {
                        $.notify({message: data.message}, {type: 'danger'});
                        return false;
                    }
                });
            },
            infiniteHandler($state) {
                axios.get(this.routeGetNotifications, {
                    params: {
                        page: this.page,
                    },
                }).then(({data}) => {
                    if (data.data.length) {
                        this.page += 1;
                        //this.items.unshift(...data.data.reverse());
                        this.items.push(...data.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },
        },
    };

</script>
