select + .select2-container {
    width: 100% !important;
}
.app-header .dropdown-item{
    color:#333333 !important;
}
.file-attachment {
    padding: 10px 0;

    li {
        border: 1px solid #dddfe2;
        -webkit-box-shadow: 0 2px 2px #dddfe2;
        box-shadow: 0 2px 2px #dddfe2;
        display: block;
        overflow: hidden;
        position: relative;
        padding: 10px;
        margin-bottom: 10px;

        &:hover {
            background: #eeeeee;
        }

        .file-icon-type {
            margin-right: 10px;
            float: left;
            width: 30px;
            overflow: hidden;
            font-size: 30px;
            text-align: center;
        }

        a {
            ul.file-attachment li a {
                color: #1d2129;
                font-weight: bold;
            }
        }

        .icon-download {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}


//====== CHECKBOX
/* Customize the label (the container) */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    &:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

//======= RADIO
/* Customize the label (the container-radio) */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}
#option-bar{
    width: 100% !important;
    height: 50px !important;
    right:0;
}
