.album-listing{
    width: 100%;
    float: left;
    img{
        width: 100%;
        height: auto;
    }
    figure {
        display: block;
        overflow: hidden;
        margin: 0 0 5px 0;
    }
    figcaption {
        display: none;
    }
    .location-listing{
        position: relative;
        .close-image{
            position: absolute;
            display: inline-block;
            top: 0;
            right: 0;
            z-index:2;
            padding:2px 10px;
            color: #f9f9f9;
            font-size:18px;
            &:hover{
                color: #000!important;
                background-color: #ccc!important;
            }
        }
        .location-image{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: 3px;
                border: 2px solid #dddddd;
            }
        }
}
}

.image-plus{
    width: 100%;
    text-align: center;
    font-size: 72px;
    padding: 30px 0;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
