.sidebar{
    background: #222d32 !important;
}
.sidebar .nav-link.active {
    background: #1e282c !important;
}
.sidebar .nav-dropdown.open {
    background: #2c3b41;
}
.sidebar .nav-link{
    color: #8aa4af !important;
}
.sidebar .nav-link.active {
    color: #fff !important;
    background: #1a2226 !important;
}
.sidebar .nav-dropdown.open .nav-link {

    border-left: 0;
}

.sidebar .nav-dropdown-items .nav-link.active {
    color: #fff !important;
    background:none !important;
    border-left: 0;
}
.sidebar .nav-link:hover {
    color: #fff !important;
    background: transparent !important;
}
