@import "../global";
// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "~select2/src/scss/core";
@import "~icheck/skins/all.css";
@import "common";
@import "modal";
@import "breadcrumb";
@import "gallery";
@import "~photoswipe/dist/photoswipe.css";
@import "~datatables/media/css/jquery.dataTables.min.css";
@import "blog";
@import "sidebar_custom";
// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}


// Fix body
body {
    font-size: 13px !important;
}

table td{
    vertical-align: middle !important;
    padding:5px !important;
    label{
        margin:0 !important;
    }
}

label{
    margin-bottom: 0!important;
}
z
#float {
    position: fixed;
    top: 3em;
    right: 2em;
    z-index: 100;
}

.sidebar {
    .nav-link {
        //padding: 7px 14px !important;
    }
}

#tinymce{
    p{
        margin:5px 0 !important;
    }
}

.main .container-fluid {
    padding: 0 15px !important;
}

.image-avatar {
    position: relative;

    img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
        border:1px solid #ddd;
    }
    .button-delete-image{
        cursor: pointer;
        padding: 2px 7px;
        position: absolute;
        background: #eee;
        top: -10px;
        right: -10px;
        font-size: 13px;
        border-radius: 20px;
        &:hover{
            background: #ddd;
        }
    }
}

.avatar-table{
    width: 40px;
    height: 40px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border:1px solid #eee;
    }
}
.btn-xs{
    padding: 2px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.zoom {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom.lg:hover {
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.error{
    color: red;
    padding-top:5px;
    margin:0 !important
}
#loading {
    background-color:white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading img {
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}

.nav-dropdown-items .nav-link{
    padding:0.5rem 1rem;
}
.app-header{
    background:#012555 !important;
    a{
        color:#fff !important;
    }
    border-bottom:none !important;
}
