// Plugins
// FontAwesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Header Styles
.demo, .logged-in-as {
    margin: 0 !important;
    border-radius: 0 !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
