.blog-detail-avatar {
    overflow: hidden;
    display: block;

    img {
        width: 100%;
        object-position: center;
        object-fit: cover;
        //max-height:600px;
    }
}
#player{
    width: 100%;
}
#blog-detail {
    position: relative;
    .item-header {
        overflow: hidden;

        .avatar {
            margin-right: 9px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .content-header {
            margin-left: 50px;
            margin-right: 15px;
        }
    }

    img{
        width:100%;
        height:100%;
    }
    iframe{
        width: 100%;
    }
}

.blog-related{
    overflow: hidden;
    .blog-relate-item{
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .blog-avatar{
        .blog-rel-avatar{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
    .blog-rel-info{
        overflow:hidden;
        .blog-rel-title{

        }
        .blog-rel-description{

        }
    }
}
.menu-category-global{
    li{
        a{
            &.active{
                font-weight: bold;
                color:$link-active-default-color !important;
            }
            i{
                margin-right:5px;
            }
            padding:10px 0;
            display:block;
            overflow:hidden;
            font-weight:500;
            &:hover{
                text-decoration: none;
                color: $link-default-hover-color;
            }
        }
    }
}
