.notification-item{
    position: relative;
    overflow: hidden;
    display: block;
    .btn-read{
        cursor: pointer;
        position: absolute;
        top: 33%;
        right: 10px;
        z-index:1;
        color: #CCCCCC;
        display: inline-block !important;
        &:hover{
            color: #aaaaaa;
        }
    }
}
.notify-item{
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #dddfe2;
    &:hover{
        background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04)) !important;
    }
    &.unread{
        background: #edf2fa;
    }
    .avatar{
        padding: 5px;
    }
    .noti-avatar{
        border-radius: 100%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center center;
        margin-right: 10px;
    }
}
