#tab-profile{
    visibility: visible;
    &:before{
        display: table;
    }
    li{
        position: relative;
        a{
            position: relative;
            display: block;
            padding: 10px 15px;
            &.active{
                border-bottom: 2px solid $link-active-default-color;
            }
        }
    }
}

.profile-box{
    display: block;
    overflow: hidden;

    .prof-header{
        width:100%;
        height:240px;
        position:relative;
        .img_cover{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
        .avatar-box{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            border:1px solid #CCCCCC;
            padding: 3px;
            background: #ffffff;
            overflow: hidden;
            position: absolute;
            bottom: -25px;
            left: 20px;
            .img_avatar{
                border-radius: 100%;
                width:100%;
                height:100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .box-information{

    }
}
