.open ul.dropdown-menu
{
	display: block;
}
a.filter-sort
{
	width: 100%;
}
body.layered #sorts
{
	display: none !important;
}
a.add-filter label:after
{
	border:none;
	background: #f00;
	bottom: -15px;
	top: inherit;
	height: 2px;
}
#product-product .details
{
	max-height: inherit;
	/*height: 132px;*/
}
h1.heading_title
{
	color: #990033;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
#product-category .sidebar
{
	overflow: inherit;
}
.orther-collection
{
	position: relative;
}
.orther-collection-wrap
{
	border: 1px solid #990033;
	background: #ebebeb;
	padding: 20px 15px !important;
    max-height: 400px;
    overflow-x: hidden;
    margin-bottom: 5px;
    min-width: 265px;
}
.orther-collection-wrap li
{
	display: block !important;	
	text-align: left !important;
	margin:8px 0;
}
.orther-collection-wrap li a
{
    padding: 1px 20px 4px !important; 
}
.orther-collection-wrap li.active a
{
	margin: 0 !important;
	font-style: italic;
}
.orther-collection-wrap::-webkit-scrollbar-track 
{
	border-radius: 0;
	background-color: #ccc;
}
.orther-collection-wrap::-webkit-scrollbar 
{
	width: 10px;
	background-color: #990033;
}
.orther-collection-wrap::-webkit-scrollbar-thumb 
{
	border-radius: 0;
	margin-right: 5px;
	background-color: #990033;
}
.results
{
	margin-top: 40px;
	margin-bottom: 20px; 
	overflow: hidden;
}
.wrap-pagi
{
	margin-top: 0px;
	text-align: right;
}
.pagination>li:first-child>a, .pagination>li:first-child>span , .pagination>li:last-child>a, .pagination>li:last-child>span
{
	border-radius: 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    background-color: #990033;
	border-color: #990033;
}
.wrap-result
{
	line-height: 35px;
}
.progress > li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    width: 5em;
    height: 5em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
}
.progress > li.img_5:before {
    background: #DFE3E4;
    background-image: url(https://thaituanfashion.com/catalog/view/theme/taka/image/order_confirm.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.progress > li.img_14:before {
    position: relative;
    background: #DFE3E4;
    background-image: url(https://thaituanfashion.com/catalog/view/theme/taka/image/order_box.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.progress > li.img_16:before {
    position: relative;
    background: #DFE3E4;
    background-image: url(https://thaituanfashion.com/catalog/view/theme/taka/image/order_shipping.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.progress > li.img_19:before {
    position: relative;
    background: #DFE3E4;
    background-image: url(https://thaituanfashion.com/catalog/view/theme/taka/image/order_shippined.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.progress > li.is-complete:before
{
	background-color: #2ECC71 !important;
}
.progress > li.is-active:before
{
	background-color: #3498DB !important;
}
.wowbook-lightbox-on .zopim
{
	z-index: 1 !important;
}
#button-cart
{
	width: 47% !important;
}
.btn-40
{
	height: 40px;
}
.blog_summary
{
	display: block;
}
.blog_summary img
{
	max-width: 100%;
	height: auto;
}
.btn-auto
{
	height: auto;
	display: block;
}
.information-information_category #column-right
{
	display: block !important;
}
.product-category .swiper-viewport .swiper-button-next
{
	opacity: 1 !important;
	right: -40px !important;
}
.product-category .swiper-viewport .swiper-button-prev
{
	opacity: 1 !important;
	left: -40px !important;
}
.logo-footer
{
	width: 89%;
}
.custom-h2 >a 
{ 
	color: #fff 
}
.height_auto
{
	height: auto !important;
}
.blog.blog_list .blog_summary
{
	display: block;
}
.display_block
{
	display: block;
	height: auto;
}
#rmv
{
	position: relative;
	z-index: 999;
}
.header__top #search .group-search
{
	z-index: 1;
}
.mfp-iframe-scaler iframe
{
	background: none !important;
	box-shadow: none !important;
}
.bocongthuong
{
    position: absolute;
    right: 15px;
    bottom: 35px;
    max-width: 150px;
}
@media(min-width: 300px) and (max-width: 375px)
{
	.shop_link > a
	{
		font-size: 11px;
	}
	.header__top .currency_current, .header__top .language_current, .header__top #cart
	{
		font-size: 11px;
	}
}
@media(min-width: 550px) and (max-width: 768px)
{
	.header__top [class*="col-"]
	{
		padding: 0 5px !important; 
	}
	.header__top .currency_current, .header__top .language_current, .header__top #cart
	{
		font-size: 11px;
	}
	.shop_link >a
	{
		font-size: 11px;
	}
	p.hotline
	{
		position: relative;
		top: 3px;
	}
}
@media(min-width: 320px) and (max-width: 566px)
{
	.panel .panel-heading .title, h3
	{
		font-size: 18px;
	}
	figure.effect-oscar
	{
		background: none;
	}
	figure.effect-oscar img
	{
		opacity: 1;
	}
	figure.effect-oscar figcaption::before
	{
		display: none;
	}
	figure figcaption, figure figcaption > a
	{
		position: relative;
	}
	figure.effect-oscar h2
	{
		font-size: 14px !important;
		margin-top: 15px !important;
		color: #970139;
		font-weight: bold;
	}
}
@media(min-width: 320px) and (max-width: 992px)
{
	.shop_link > a
	{
		position: relative;
		top: -2px;
	}

	.header .header__top p 
	{
	    text-align: center;
	    position: relative;
	    top: 3px;
	}
	.top-action
	{
	    margin-top: 8px;
	}

	.currency_current, .language_current, .header__top #cart, .shop_link
	{
		margin: 0;
	}
	/*.nivoSlider img{
	     min-height: 400px;
	} */
	.bocongthuong
	{
	    position: relative;
	    right: inherit;
	    bottom: inherit;
	    max-width: 200px;
	    margin:0 auto;
	    margin-top: 10px;

	}
	#product-related .item:hover .name, .item:hover .name
	{
		position: absolute;
	    bottom: -10px;
	    left: 0;
	    right: 0;
	    text-align: center;
	    width: 100%;
	    height: 0;
	    transition: .5s ease;
	    width: calc(100% - 30px);
	    margin: 0 15px;
	    font-size: 16px;
	    padding-top: 0;
	    background: none;
	    position: relative;
	    bottom: inherit;
	    margin-bottom: 15px;
	}
	#product-related .item:hover .name a, .item:hover .name a {
	    color: #990033;
	    font-weight: 600;
	}
	#product-related .item:hover .name:after, .item:hover .name:after {
	    display: block;
	}
	#product-related .item:hover .name .price, .item:hover .name .price
	{
	    display: none;
	}
	.header__top #ajax_search_results
	{
		top: 42px !important;
		width: 100% !important;
	}
	.header__top #search .group-search
	{
		width: 100%;
	}
	.header__top #search
	{
		position: static;
		margin-top: -2px;
	}
	.header__top #search .group-search
	{
		right: inherit;
		left: 0 !important;
    	margin-top: 32px;
	}
	.header__top #search select
	{
		width: 25%;
	    top: 30px;
    	height: 40px;
	}
	.header__top #search input
	{
		width: 75% !important;
	}
	#product-related .item .name, .item .name
	{
		position: relative;
		bottom: inherit;
		margin-bottom: 15px;
	}
	.information-information .sidebar
	{
		height: auto;
	}
	.logo-footer
	{
		width: 100%;
	}
	.phone-contact
	{
		display: block;
	}
	.sidebar ul li
	{
		display: block;
	}
	.sidebar ul li a
	{
		border-right: none;
	}
	.blog-home #column-right
	{
		display: block !important;
	}
	.swiper-pager
	{
		display: none;
	}
	.table-mobile input.plus-minus
	{
		width: 80px !important;
		height: 30px !important;
	}
	#product-product .frame-change-count, #checkout-cart .frame-change-count
	{
		width: 140px !important;
	}
	.footer-menu
	{
		text-align: center;
		overflow: hidden;
	}
	.footer-menu li
	{
		width: 33.33%;
		float: left;
		margin:5px 0;
	}
	.footer-menu li:nth-child(4)
	{
		width: 50%;
	}
	.footer-menu li:nth-child(5)
	{
		width: 50%;
	}
	#product-category .sidebar
	{
		height: auto;
	}
	.blog-home .blog_summary .right
	{
		height: auto !important;
		border-bottom: none !important;
	}
	.more
	{
		position: relative !important;
		right: inherit !important;
		bottom: inherit !important;
	}
	.more .label-new
	{
		padding: 5px 15px !important;
		display: inline-block !important;
		margin-top: 0 !important;
	}
	.blog_item
	{
		    border-bottom: 1px dashed #999;
		    margin-bottom: 10px;
		    padding-bottom: 10px;
	}
	.wrap-pagi
	{
		margin-top: 20px;
		text-align: center;
	}
	.header__top #search input
	{
		right: 90%;
	}
	h1.heading_title
	{
		font-size: 20px;
	}
	h1.heading_title:after
	{
        content: "\f058";
	    font-size: 30px !important;
	    margin: 0;
	    color: #0195da;
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    margin-left: 15px;
	    position: relative;
	    top: 2px;
	}
	.icon-check
	{
		display: none;
	}
	.progress > li
	{
		font-size: 12px;
	}
	#button-cart
	{
		width: 48% !important;
		font-size: 12px;
		padding: 3px 10px;
	}
	#product-product #button-buynow.button
	{
		width: 48%;
	}
	.item:hover .name .quick-view
	{
		display: none;
	}
	figure.effect-oscar h2
	{
		font-size: 12px;
	}
	#lookbook p
	{
		font-size: 16px;
	}
}
@media(min-width: 667px) and (max-width: 992px)
{
	.logo-footer
	{
		width: 80%;
	}
	.header__top #search select
	{
		height: 30px !important;
		width: 35% !important;
	}
	.header__top #search input
	{
		width: 65% !important;
	}
	.header__top #ajax_search_results
	{
		top: 32px !important;
		left: 0 !important;
		right: inherit !important;
	}
}
@media(min-width: 768px) and (max-width: 1024px)
{
	#product-related .item:hover .name, .item:hover .name
	{
		position: absolute;
	    bottom: -10px;
	    left: 0;
	    right: 0;
	    text-align: center;
	    width: 100%;
	    height: 0;
	    transition: .5s ease;
	    width: calc(100% - 30px);
	    margin: 0 15px;
	    font-size: 16px;
	    padding-top: 0;
	    background: none;
	    position: relative;
	    bottom: inherit;
	    margin-bottom: 15px;
	}
	#product-related .item:hover .name a, .item:hover .name a {
	    color: #990033;
	    font-weight: 600;
	}
	#product-related .item:hover .name:after, .item:hover .name:after {
	    display: block;
	}
	.header__top #search input
	{
		right: 80%;
	}

}

@media(min-width: 1024px) and (max-width: 1365px)
{
	.header__top #search input 
	{
	    right: 65%;
	}
}

/*Fix Modal*/
@media (max-width: 480px) {

        .modal {
            height: 100%; /* Set a default max height of the modal (adjusted later)*/
            position: fixed; /* Display modal in the centre of your screen */
            overflow-y: scroll; /*  Ensure that the modal is scroll-able */
            -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
        }
        .modal.fade.in{
            top: 5px; /* Use more screen real estate */
        }
        .modal-body{
            /* Increase the max height of the modal body to try & avoid both it,
             * and the modal container having scroll bars which results in odd behavior */ 
            max-height: 2400px; 
        }   
    }

    /* Now adjust the height so it handles various screen sizes & orientations */
    /* You could make this as granular as you like, or have it more granular at common screen sizes
     * but it should start at the height we set on .modal (i.e. 500px) & work down */
    @media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
    @media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
    @media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
    @media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
    @media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
    @media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
    @media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}
/*Fix Modal*/
.buttons
{
	overflow: hidden;
}